$mainGold: #C0B283;
$mainSilk: #DCD0D0;
$mainPaper: #F4F4F4;
$mainCharcoal: #373737;

$fontSerif: 'Playfair Display', serif;
$fontSans: 'Quicksand', sans-serif;


/* $mainGold: #FA69EC;
$mainSilk: #F1FB96; 
Gold: #A39153
#A38D5E
*/