.coaching {
	background-color: $mainPaper;

	&__row {
		margin-top: 40px;
		padding-top: 40px;
		padding-bottom: 30px;
		background-color: rgba($mainSilk, .2);
	}

	&__description {
		font-weight: 100;
		font-size: 15px;
		border-top: 2px solid $mainGold;
		border-bottom: 2px solid $mainGold;

		@mixin atMedium {
			font-size: 17px;
		}


		@mixin atLarge{
			font-size: 18px;
		}
	}

	&__features {

		&__title {
			font-weight: 100;
			font-size: 1.5rem;

			@mixin atMedium {
				font-size: 2rem;
			}
		}
		&__item {
			background-color: white;
			border: 5px solid $mainSilk;

			h4 {
				font-family: $fontSerif;
				font-weight: lighter;
				font-size: 22px;
				padding: 10px;
				color: $mainCharcoal;
				text-align: center;
			}
		}

		&__icon {
			display: block;
			margin: 0 auto;
			text-align: center;
			color: $mainGold;
			font-size: 35px;
		}

		&__button {
			background-color: $mainGold;
			border: 2px solid $mainGold;
			border-radius: 10px;
			color: white;
			display: block;
			margin: 0 auto;
			padding: .55rem 1rem;
			outline: none;
			cursor: pointer;
			text-decoration: none;
			transition: .25s all ease;

			&:hover {
				background-color: transparent;
				color: $mainCharcoal;
			}
		}

		&__description {
			font-size: 18px;
		}
	}

	&__parralax__text-container {
		position: relative;
		height: 100%;
		width: 100%;
	}

	&__parallax__text{
		@mixin centerer;
		width: 100%;
		border: 5px solid $mainGold;
		padding-top: 20px;
		padding-bottom: 20px;

		@mixin atLarge {
			width: 80%;
		}

		h2{
			color: white;
			font-family: $fontSans;
			font-weight: 100;
			font-size: .8rem;

			@mixin atMedium {
				font-size: 1.2rem;
			}

			@mixin atLarge {
				font-size: 2rem;
			}
		} 
	}
}