.contact  {
	background-color: $mainSilk;

	&__container {
		background-color: #fff;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	&__info {
		margin-top: 50px;
		border: 10px solid $mainSilk;
	}

	&__icon__container{
		width: 100px;
		height: 100px;
		margin: 20px auto;
		display: block; 
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__icon {
		color: $mainGold;
		font-size: 40px;
	}

	&__label {
		font-family: $fontSans;
		color: $mainCharcoal;
		font-weight: 300;
		font-size: 1.7rem;

		&--bold {
			font-family: $fontSans;
			font-weight: 400;
		}

		@mixin atMedium {
			font-size: 2rem;
		}
	}

	&__facebook {
		width: 250px;
		margin: 0 auto;
		border: 3px solid $mainGold;
		color: $mainGold;
		padding: 20px 30px;
		font-size: 20px;
		transition: .25s all ease-out;

		@mixin atMedium {
			width: 300px;
			font-size: 30px;
		}

		&:hover {
			background-color: $mainGold;
			color: #fff;
			transform: translateY(10px)
		}

		a:hover {
			color: #fff;
		}
	}
}