.form {

  &-control {
    margin-top: 10px;

    @mixin atMedium {
      margin-top: none;
    }
  }

  &__input {
    transition: all 0.25s ease;

    &:focus {
      outline: none;
      border: 3px solid #fff;
    }

    &--textarea {
      min-height: 200px;
    }
  }

  &__button {
    display: block;
    margin: auto;
    margin-top: 24px;
    padding: 12px 16px;
    width: 100px;
    color:  #000;
    background-color: #FFF;
    border: 2px solid $mainGold;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.25s ease;
    border-radius: 10px;
    margin-bottom: 10px;

    @mixin atMedium {
      width: 200px;
    }

    &:hover {
      color: #FFF;
      background-color: $mainGold;
    }
  }
}

label{
  display: none;
}
