.navbar--color {
  background-color: rgba($mainCharcoal, 0.9);

  	.navbar-nav .nav-link {
  		color: $mainPaper;
  		font-family: $fontSans;
  		font-weight: 400;
  		transition: all .25s ease;

  		&:hover {
  			color: $mainGold;
  		}
  	}

  	.navbar-brand {
  		color: $mainPaper;
  	}
}

.navbar-nav .nav-item .active {
	color: $mainGold;
}
.navbar-toggler {
  color: #fff;
}


