.recommendations {
	background-color: white;

	.carousel-item {
  	height: 80vh;
  	min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

		img {
			min-height: 450px;
		}

		.carousel-caption {
			bottom: initial;
			border: 2px solid $mainGold;
			top: 50%;
			transform: translateY(-50%);
		}

  		h3 {
		  	font-family: 'Playfair Display', serif;
		  	font-size: 1.5rem;
		  	color: $mainCharcoal;

		  	@mixin atLarge {
		  		font-size: 2.7rem;
		  	}
  		}

  		p {
  			color: $mainCharcoal;
  			font-size: 18px;
  			font-weight: 400;
  		}
	}
}

	.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}